.card-background {
  border: 0.188rem solid var(--color-quaternary);
  max-width: 50%;
  border-radius: 1rem;
  padding: 17px;
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-size: 0.938rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
}

.text {
  margin: 5px;
}
