@font-face {
  font-family: "Silom";
  src: url("../assets/fonts/Silom.woff2") format("woff2");
}

:root {
  /* Colors */
  --color-primary: #1d2c5e;
  --color-secondary: #ffffff;
  --color-tertiary: #f0f0f0;

  /* Fonts */
  --font-primary: "Silom", sans-serif;
}
