.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-family: var(--font-primary);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .icons-container img {
    width: 6.25rem;
  }
}

.icon {
  width: 4rem;
}
