.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pokemon-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .pokemon-cards-container {
    flex-direction: column;
    align-items: center;
  }
}

.icon-links-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  gap: 90px;
  margin-bottom: 14px;
}

.feedback-message {
  text-align: center;
  margin-top: 1.25rem;
  font-family: var(--font-primary);
  font-size: 0.938rem;
  color: var(--color-primary);
}
