@media (max-width: 500px) {
    .page-container {
      margin-top: 0.5rem;
      margin-bottom: calc(var(--header-mobile-height) + 0.5rem);
    }
  }
  
  @media (min-width: 501px) {
    .page-container {
      margin-top: calc(var(--header-tablet-height) + 0.5rem);
      margin-bottom: 0.5rem;
    }
  }
  